* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    background: #fff;
    padding: 10px 0;
    text-transform: uppercase;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    width: 230px;
}

.logo-link {
    display: block;
}

.header__logo {
    width: 100%;
}

.header__slogan {
    margin-top: 10px;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu__item {
    margin-left: 25px;
    font-weight: 700;
}

.call-action {
    background: #ebebeb;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-action__icon {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.call-action__text {
    margin: 0 10px;
    color: #515151;
    font-weight: initial;
}

.call-action__icon--svg {
    width: 50%;
    fill: #ff0000;
}

.call-action__icon--img {
    width: 50%;
}

.header-menu__item_btn {
    padding: 10px 25px;
    background: #343434;
    color: #fff;
    border-radius: 50px;
}

.header-menu__item--bag {
    width: 30px;
}

/* About section */

.about {
    padding: 80px 0;
    background: #f1f1f1;
}

.about-wrap {
    display: flex;
    align-items: flex-start;
}

.text-bold {
    font-weight: 700;
}

.about__title {
    margin-bottom: 10px;
}

.about__title--main {
    font-size: 30px;
}

.about__title--description {
    font-size: 20px;
}

.about__list--item-wrap {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.list-icon {
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.21);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.list-icon__img {
    max-width: 85%;
    height: 80%;
}

.about__list {
    list-style: none;
    counter-reset: custom-counter;
    margin-left: 30px;
}

.about__list--item {
    counter-increment: custom-counter;
    position: relative;
}

.about__list--item::before {
    content: "0" counter(custom-counter);
    color: #c5c5c5;
    position: absolute;
    left: -30px;
}

.about__right_img {
    border-radius: 100%;
    width: 450px;
    height: 450px;
    overflow: hidden;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.about__right_img--image {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.about__right {
    margin-left: 60px;
}