.hamburger__menu {
    display: block;
    width: 40px;
}

.hamburger__menu--row {
    width: 100%;
    display: block;
    height: 5px;
    border-radius: 50px;
    background: #343434;
    margin-bottom: 7px;
    transform-origin: 0 50% 0;
    transition: transform 1s, opacity 1s;
}

.header-menu__item {
    margin: 0;
}

.hamburger__menu.active {
    position: fixed;
    z-index: 11;
    top: 5%;
    right: 5%;
}

.hamburger__menu.active .hamburger__menu--row:first-child {
    transform: rotate(45deg);
    margin-bottom: 10px;
    background: #f1f1f1;
}

.hamburger__menu.active .hamburger__menu--row:last-child {
    transform: rotate(-45deg);
    background: #f1f1f1;
}

.hamburger__menu.active .hamburger__menu--row:nth-child(2) {
    opacity: 0;
    background: #f1f1f1;
}

.header-menu {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    top: 0;
    left: 0;
    transition: opacity 1s;
    z-index: -1;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-menu.active {
    opacity: 1;
    z-index: 10;
}

.header-menu__item--bag {
    fill: #f1f1f1;
}

.header__left {
    width: 150px;
}

.header__slogan--text {
    font-size: 10px;
}

.header__slogan {
    margin-top: 0;
}

/* About section */
.about {
    padding: 30px 0;
}

.about__title {
    text-align: center;
}

.about-wrap {
    justify-content: center;
}

.about__left, .about__right {
    width: 100%;
    margin: 0;
}

.about__right_img {
    margin: 0 auto;
    width: 270px;
    height: 270px;
}

.about__list--item-wrap {
    flex-wrap: wrap;
    margin: 65px 0;
}

.about__list--item::before {
    left: 50%;
    transform: translate(-50%, -110%);
}

.list-text {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.list-icon {
    margin: 0 auto;
}

.about__list {
    margin: 0;
}